<div class="page-index2__content">
    <h2 class="page-index2__header">Today’s trending stories distilled into one-minute bites</h2>
    <p class="page-index2__desc">Delivered to your inbox, daily</p>
    <div class="page-index2_formSend">
        <form method="post" action="/subscription/create">
            <div class="page-index2__send">
                <input type="email" class="page-index2__sendField" maxlength="256" name="value" data-name="Email Value" placeholder="Email address" id="Email-Value" required="">
                <input type="submit" data-wait="Please wait..." value="Subscribe" class="page-index2__sendButton">
            </div>
        </form>
    </div>
</div>

@code {

}