<div class="page-index3__filter" data-aos="fade-up">
    <div class="page-index3__filterHeader">Filter</div>
    <ul class="page-index3__filterMenu" id="page-index3__filterMenu">
        <li class="page-index3__filterLi">
            <input class="page-index3__filterLiInput" type="button" data-filter="*" value="All" onclick="filter('')" />
        </li>
        <li class="page-index3__filterLi">
            <input class="page-index3__filterLiInput" type="button" data-filter="technology" value="Technology" onclick="filter('Technology')" />
        </li>
        <li class="page-index3__filterLi">
            <input class="page-index3__filterLiInput" type="button" data-filter="entertainment" value="Entertainment" onclick="filter('Entertainment')" />
        </li>
        <li class="page-index3__filterLi">
            <input class="page-index3__filterLiInput" type="button" data-filter="politics" value="Politics" onclick="filter('Politics')" />
        </li>
    </ul>
</div>

