
<div class="page-index3__goBack">
    <h2 class="page-index3__goBack_header">@header</h2>
    <a class="page-index3__itemFullLinkText page-index3__goBack_link" href="/archive">@textlink&nbsp;→</a>
</div>

@code {
    [Parameter]
    public string header { get; set; }

    [Parameter]
    public string textlink { get; set; }
}